.root {
  flex-shrink: 0;
  height: 40px;
  padding: 8px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: 1px solid #edeff7;
}

.sticky {
  position: sticky;
  z-index: 45;
}

.editable {
  cursor: pointer;
}
