.root {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 50;
  box-shadow: 0 2px 7px rgb(0 0 0 / 7%);
  border-bottom: 1px solid #edeff7;
  background-color: #fff;
}

.row {
  display: flex;
  border-bottom: 1px solid #edeff7;
}
